<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Yaz Proxy</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Yaz Proxy</a>
        </nav>
    </header>

    <main class="container">
        <%- body %>
    </main>

    <footer class="footer text-muted text-center">
        <p>© 2023 Yaz Proxy</p>
    </footer>
</body>
</html>
